:root {
  /* Colours */
  --color-text: #FFFFFF;
  --color-primary: #73198e;
  --color-secondary: #8a2cc0;
  --color-dark: #694b07f5;
  --color-bg: #FFFFFF;

  /* Fonts */
  --font-roboto: "Roboto";
}
